body {
  font-family: "SFNS Display", sans-serif;
}

.btn {
  border-radius: 0px;
}

.jumbotron.error { /* Used for 404 error page */
  text-align: center;
}

.jumbotron h2 { /* Used for 404 error page */
  font-size: 60px;
}

.dropdown-menu {
}