body {
  font-family: "SFNS Display", sans-serif;
}

h1 {
  margin-bottom: 25px;
}

.btn {
  border-radius: 0px;
  color: white;
  background-color: #4355FF;
}

.btn:hover {
  background-color: #0000FF;
  color: white;
}

.btn:focus {
  color: white;
}

.jumbotron.error { /* Used for 404 error page */
  text-align: center;
}

.jumbotron h2 { /* Used for 404 error page */
  font-size: 60px;
}

.dropdown-menu {
}

div {
  text-align: center;
}

.command-text {
  color: red;
}