body {
  /* Set the app's font stack */
  font-family: "Avenir", "SFNS Display", sans-serif;
}

h1 { /* Add spacing below all h1 elements */
  margin-bottom: 25px;
}

th { 
  padding: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: #D5D5D5;
}

td {
  word-wrap: break-word;
}

.jumbotron.error { /* Used for 404 error page */
  text-align: center;
}

.jumbotron h2 { /* Used for 404 error page */
  font-size: 60px;
}


.command-text { /* Set the color and size of all elements with command-text class */
  color: red;
  font-size: 3.5vw;
}

input.form-control { /* Add some spacing below form-control input elements */
  margin-bottom: 20px;
}

#currPatient {
  color: #FF8000;
}