<!-- A simple instructional template for the user to read -->

<template name="interpret11">
  <div style="text-align: left;">
    <h2 class="command-text">⦿ Attempt to interpret meaning of behavior with help of caregivers familiar with the person.  Provide individualized care.</h2>

    <h2 class="command-text">⦿ Ensure basic comfort needs are met.</h2>

    <h2 class="command-text">⦿ Provide reassurance if behavior suggests fear.</h2>

    <h2 class="command-text">⦿ Consider providing analgesics prior to movement.</h2>

    <div style="text-align: center;">
      <h2>Do potential pain indicators persist?</h2>
    </div>
    {{> yesNoButtons}}
  </div>
</template>