<!-- detailedPain is the main on this page, meaing that it renders
other sub-templates inside of it -->

<template name="detailedPain">
  <h2>Detailed Pain History</h2>

  <div id="newPainLocation" style="margin-bottom: 30px;">
    <button id="newLocation" class="btn btn-lg btn-primary">Add New Pain Location</button>
    <br>
  </div>

  <button id="finish" class="btn btn-lg btn-success">Finish Pain History</button>

  {{> painTable}}
</template>

<!-- This template will be rendered when the user needs to insert a new pain location for a given patient -->
<template name="painLocation">
  <div id="painLocationDiv" style="margin-bottom: 30px;">

    <label for="painSide">On what side of your body is your pain? </label>
    <select id="painSide" class="form-control">
      <option value="Left">Left</option>
      <option value="Right">Right</option>
    </select>

    <label for="bodyPart">What is the location of your pain? </label>
    <select id="bodyPart" class="form-control">
      <option value="Head">Head</option>
      <option value="Neck">Neck</option>
      <option value="Ear">Ear</option>
      <option value="Nose">Nose</option>
      <option value="Throat">Throat</option>
      <option value="Shoulder">Shoulder</option>
      <option value="Upper Back">Upper Back</option>
      <option value="Lower Back">Lower Back</option>
      <option value="Hip">Hip</option>
      <option value="Femur">Femur</option>
      <option value="Fibula / Tibula">Fibula / Tibula</option>
      <option value="Radius / Ulna">Radius / Ulna</option>
      <option value="Humerus">Humerus</option>
      <option value="Foot">Foot</option>
      <option value="Toes">Toes</option>
      <option value="Ankle">Ankle</option>     
    </select>

    <label for="painSeverityMoving">On a scale from 0 to 10, how severe is your pain while moving? </label>
    <select id="painSeverityMoving" class="form-control">
      <option value="0">0 (No Pain)</option>
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5">5</option>
      <option value="6">6</option>
      <option value="7">7</option>
      <option value="8">8</option>
      <option value="9">9</option>
      <option value="10">10 (Maximum Pain)</option>
    </select>

    <label for="painSeverityRest">On a scale from 0 to 10, how severe is your pain while at rest? </label>
    <select id="painSeverityRest" class="form-control">
      <option value="0">0 (No Pain)</option>
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5">5</option>
      <option value="6">6</option>
      <option value="7">7</option>
      <option value="8">8</option>
      <option value="9">9</option>
      <option value="10">10 (Maximum Pain)</option>
    </select>

    <label for="painFrequency">How frequent is your pain?</label>
    <select id="painFrequency" class="form-control">
      <option value="Constant">Constant</option>
      <option value="Hourly">Hourly</option>
      <option value="Daily">Daily</option>
      <option value="Constant">Occasional</option>
      <option value="Rare">Rare</option>
    </select>

    <label for="worsensPain">What worsens pain?</label>
    <select id="worsensPain" class="form-control">
      <option value="Activity">Activity</option>
      <option value="Inactivity">Inactivity</option>
    </select>

    <label for="alleviatesPain">What alleviates pain?</label>
    <select id="alleviatesPain" class="form-control">
      <option value="Rest">Rest</option>
      <option value="Cold Therapy">Cold Therapy</option>
      <option value="Medication">Medication</option>
      <option value="Other">Other</option>
    </select>

    <label for="painType">How would you describe your pain?</label>
    <select id="painType" class="form-control">
      <option value="Dull">Dull</option>
      <option value="Sharp">Sharp</option>
      <option value="Shooting">Shooting</option>
      <option value="Ache">Ache</option>
      <option value="Burning">Burning</option>
      <option value="Stinging">Stinging</option>
      <option value="Stabbing">Stabbing</option>
      <option value="Pounding">Pounding</option>
    </select>

    <button id="savePainDesc" class="btn btn-lg btn-primary" style="margin-top: 20px;">Save Pain Description</button>

    <button id="cancelPainDesc" class="btn btn-lg btn-warning" style="margin-top: 20px;">Cancel</button>
  </div>
</template>

<!-- This template holds the table of all pain items for a given patient -->

<template name="painTable">
  <table class="table table-bordered table-hover" style="margin-top: 30px;">
    <thead>
      <th>Pain Location</th>
      <th>Pain Severity (Moving)</th>
      <th>Pain Severity (At Rest)</th>
      <th>Pain Frequency</th>
      <th>What Worsens Pain?</th>
      <th>What Alleviates Pain?</th>
      <th>Type of Pain</th>
    </thead>

    <tbody>
      {{#each getPainItems}}
        {{> painRow}}
      {{/each}}
    </tbody>
  </table>
</template>

<!-- A template for a table row in the pain items table -->
<template name="painRow">
  <tr>
    <td>{{side}} {{bodyPart}}</td>
    <td>{{painSeverityMoving}}</td>
    <td>{{painSeverityRest}}</td>
    <td>{{painFrequency}}</td>
    <td>{{worsensPain}}</td>
    <td>{{alleviatesPain}}</td>
    <td>{{painType}}</td>
  </tr>
</template>