<template name="detailedPain">
  <h2>Detailed Pain History</h2>

  <div id="newPainLocation" style="margin-bottom: 30px;">
    <button id="newLocation" class="btn btn-lg btn-primary">Add New Pain Location</button>
    <br>
  </div>

  <button id="finish" class="btn btn-lg btn-success">Finish Pain History</button>
</template>

<template name="painLocation">
  <div id="painLocationDiv" style="margin-bottom: 30px;">

    <label for="painSide">On what side of your body is your pain? </label>
    <select id="painSide" class="form-control">
      <option value="left">Left</option>
      <option value="right">Right</option>
    </select>

    <label for="bodyPart">What is the location of your pain? </label>
    <select id="bodyPart" class="form-control">
      <option value="lowerLeg">Lower Leg</option>
      <option value="upperLeg">Upper Leg</option>
    </select>

    <label for="painSeverityMoving">On a scale from 0 to 10, how severe is your pain while moving? </label>
    <select id="painSeverityMoving" class="form-control">
      <option value="0">0</option>
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5">5</option>
      <option value="6">6</option>
      <option value="7">7</option>
      <option value="8">8</option>
      <option value="9">9</option>
      <option value="10">10</option>
    </select>

    <label for="painSeverityRest">On a scale from 0 to 10, how severe is your pain while at rest? </label>
    <select id="painSeverityRest" class="form-control">
      <option value="0">0</option>
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5">5</option>
      <option value="6">6</option>
      <option value="7">7</option>
      <option value="8">8</option>
      <option value="9">9</option>
      <option value="10">10</option>
    </select>

    <label for="painFrequency">How frequent is your pain?</label>
    <select id="painFrequency" class="form-control">
      <option value="constant">Constant</option>
      <option value="hourly">Hourly</option>
      <option value="daily">Daily</option>
      <option value="constant">Occasional</option>
      <option value="rare">Rare</option>
    </select>

    <label for="worsensPain">What worsens pain?</label>
    <select id="worsensPain" class="form-control">
      <option value="activity">Activity</option>
      <option value="inactivity">Inactivity</option>
    </select>

    <label for="alleviatesPain">What alleviates pain?</label>
    <select id="alleviatesPain" class="form-control">
      <option value="rest">Rest</option>
      <option value="coldTherapy">Cold Therapy</option>
      <option value="medication">Medication</option>
      <option value="other">Other</option>
    </select>

    <label for="painDescription">How would you describe your pain?</label>
    <select id="painDescription" class="form-control">
      <option value="dull">Dull</option>
      <option value="sharp">Sharp</option>
      <option value="shooting">Shooting</option>
      <option value="ache">Ache</option>
      <option value="burning">Burning</option>
      <option value="stinging">Stinging</option>
      <option value="stabbing">Stabbing</option>
      <option value="pounding">Pounding</option>
    </select>

    <button id="savePainDesc" class="btn btn-lg btn-danger" style="margin-top: 20px;">Save Pain Description</button>

  </div>
</template>