<!-- A simple template to tell the user what to do after taking a detailed pain analysis -->

<template name="info5">
  <div class="container" style="text-align: center; margin-top: 30px">
  
    <h2 class="command-text">⦿ Examine the patient.</h2>
    <h2 class="command-text">⦿ Treat cause.</h2>
    <h2 class="command-text">⦿ Treat symptoms if cause is not identifiable.</h2>
    <h2 class="command-text">⦿ Consider referral.</h2>

    <button id="finish" class="btn btn-lg btn-primary">Finish Assessment</button>

  </div>
</template>