<template name="navbar">
  <nav class="navbar navbar-default" role="navigation">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".golf-navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <span class="navbar-brand">Pain Reporting System</span>
    </div>
  
    <div class="collapse navbar-collapse golf-navbar">
      <ul class="nav navbar-nav">
        <!-- <li class=""><a href="">Home</a></li> -->
        <!-- <li class=""><a href="">Schedule</a></li> -->
        <!-- <li class=""><a href="">Standings</a></li> -->
        <!-- <li class="{{activeClass ''}}"><a href="">Roster</a></li> -->
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <!-- <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Admin Controls <span class="caret"></span></a> -->
          <!-- <ul class="dropdown-menu"> -->
            <!-- <li><a href="">Enter Scores</a></li> -->
            <!-- <li><a href="">Create News Post</a></li> -->
            <!-- <li><a href="">Send E-mail</a></li> -->
          <!-- </ul> -->
        </li>
        {{> loginButtons}}
      </ul>
    </div>
  </nav>
</template>